div{
    border:solid #000000 ;
    background-color:#3D0000 ;
    padding: 10px;
}
body{
 background-color:#151515;
}
p{
    color:#EEEEEE ;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
}
ol{
    color:#EEEEEE ;
    font-family: "Timmana", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

ul{
    color:#EEEEEE;
    font-family: "Timmana", sans-serif;
        font-weight: 400;
        font-style: normal;
}
h2{
    color: #FF0000;
}
.Pic{
    width: 290px;
    height: 290px;
}
.Pic:hover{
    content: url( IMG/Katsuyiki.webp );
}
.Pic1{
    width: 290px;
    height: 290px;
}
.Pic1:hover{
    content: url( IMG/Kenkaneki2.webp );
}